services:
   app:
      image: <DOCKER_USER>/build-docker-image:latest
      environment:
         - SYNC_USER1=USERNAME:HASHED_PASSWORD
      volumes:
         - app_data:/data

volumes:
  app_data:
    driver: local
